@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

section {
    padding: 5rem 10%;
}

.header {
    width: 100%;
    padding: 2rem 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo a {
    font-size: 2.3rem;
    color: #454545;
}

.header .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar ul li a {
    padding: 10px;
    font-size: 1.5rem;
    color: #454545;
    transition: 0.4 ease;
}

.header .navbar ul li a:hover {
    color: #000;
}

.header .fa-solid {
    display: none;
}

/*==Header ends==*/
/*==Home section starts==*/
.home-container .inside-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-container .inside-home .social-icons {
    display: grid;
    line-height: 2;
}

.home-container .inside-home .social-icons a {
    font-size: 1.6rem;
    color: #454545;
}

.home-container .inside-home .social-icons a:hover {
    color: #000;
    opacity: 1;
}

.home-container .inside-home .home-content {
    line-height: 1.3;
}

.home-container .inside-home .home-content h1 {
    font-size: 7rem;
    font-weight: 600;
    color: #1E1E1E;
}

.home-container .inside-home .home-content h5 {
    font-size: 2rem;
    font-weight: normal;
    color: #282828;
}

.home-container .inside-home .home-content .about-home p {
    color: #505050;
    font-size: 1.3rem;
    margin-top: 10px;
}

.home-container .inside-home .home-content .about-home .say-hello {
    margin-top: 40px;
}

.home-container .inside-home .home-content .about-home .say-hello a {
    background-color: #1E1E1E;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 15px;
}

.home-container .inside-home .home-content .about-home .say-hello i {
    font-size: 2rem;
    margin: 10px;
}

.home-container .inside-home .hero-image img {
    height: 320px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sroll-down {
    position: absolute;
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.sroll-down img {
    height: 40px;
}

.sroll-down a {
    font-size: 1.5rem;
    color: #505050;
}

.sroll-down a:hover {
    color: #000;
    text-decoration: underline;
}

.sroll-down i {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #505050;
}



/*==Home section ends==*/
/*=====Responsive typography==*/
/*For large divces*/
@media screen and (max-width:992px) {
    html {
        font-size: 55%;
    }
}

/*For medium divces*/
@media screen and (max-width:768px) {
    .header .fa-solid {
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        margin-bottom: 2px;

    }

    .home-container .inside-home {
        display: grid;
        align-items: center;
    }

    .header {
        bottom: 0;
        top: initial;
        height: 8vh;
        background-color: #ffffff;
        position: fixed;
        /* border-top: 1px solid black; */
    }

    .header .navbar {
        position: fixed;
        margin-left: 140px;
    }

    .header .navbar ul {
        /* padding: 150px; */
        display: flex;
        flex-direction: row;
    }

    .header .navbar ul li {
        text-align: center;
        margin-right: 37px;
    }

    .header .navbar ul li a {

        font-size: 1.5rem;
        color: #454545;
        transition: 0.4 ease;
    }
}

@media screen and (max-width:576px) {
    .header .navbar {
        position: fixed;
        margin-left: 100px;
    }

    .header .navbar ul li {
        margin-right: 20px;
    }

    .header .navbar ul li a {
        font-size: 1.3rem;
    }
}
@media screen and (max-width:480px) {
    .header .navbar {
        margin-left: 0px;
    }

    .header .navbar ul li {
        margin-right: 20px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.7rem;
    }

    .header .fa-solid {
        font-size: 2rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
}
@media screen and (max-width:399px) {
    .header .navbar {
        margin-left:0px;
    }

    .header .navbar ul li {
        margin-right: 7px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.4rem;
    }

    .header .fa-solid {
        font-size: 1.8rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
    .home-container .inside-home .hero-image img {
        height: 320px;
    }
    .sroll-down {
    
        margin-top: 420px;
        
    }
}

/*==For small devices==*/
@media screen and (max-width:350px) {
    .header .navbar {
        margin-left:-10px;
    }

    .header .navbar ul li {
        margin-right: 0px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.4rem;
    }

    .header .fa-solid {
        font-size: 1.8rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
    .home-container .inside-home .hero-image img {
        height: 280px;
    }
    .sroll-down {
    
        margin-top: 400px;
        
    }
}
