@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 5rem 10%;
}

.header {
    background-color: #fff;
    width: 100%;
    padding: 2rem 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo a {
    font-size: 2.3rem;
    color: #454545;
}

.header .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar ul li a {
    padding: 10px;
    font-size: 1.5rem;
    color: #454545;
    transition: 0.4 ease;
}

.header .navbar ul li a:hover {
    color: #000;
}

.header .fa-solid {
    display: none;
}

/*==Header ends==*/
/*==Home section starts==*/
.home-container .inside-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-container .inside-home .social-icons {
    display: grid;
    line-height: 2;
}

.home-container .inside-home .social-icons a {
    font-size: 1.6rem;
    color: #454545;
}

.home-container .inside-home .social-icons a:hover {
    color: #000;
    opacity: 1;
}

.home-container .inside-home .home-content {
    line-height: 1.3;
}

.home-container .inside-home .home-content h1 {
    font-size: 7rem;
    font-weight: 600;
    color: #1E1E1E;
}

.home-container .inside-home .home-content h5 {
    font-size: 2rem;
    font-weight: normal;
    color: #282828;
}

.home-container .inside-home .home-content .about-home p {
    color: #505050;
    font-size: 1.3rem;
    margin-top: 10px;
}

.home-container .inside-home .home-content .about-home .say-hello {
    margin-top: 40px;
}

.home-container .inside-home .home-content .about-home .say-hello a {
    background-color: #1E1E1E;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 15px;
}

.home-container .inside-home .home-content .about-home .say-hello i {
    font-size: 2rem;
    margin: 10px;
}

.home-container .inside-home .hero-image img {
    height: 320px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sroll-down {
    position: absolute;
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.sroll-down img {
    height: 40px;
}

.sroll-down a {
    font-size: 1.5rem;
    color: #505050;
}

.sroll-down a:hover {
    color: #000;
    text-decoration: underline;
}

.sroll-down i {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #505050;
}
/*==Home section ends==*/



/*==About section starts==*/
.about-container{
    margin-top: 200px;
    width: 100%;
}
.about-container .about-heading {
    text-align: center;
}
.about-container .about-heading h1{
    font-size: 3rem;
    color: #1E1E1E;
    font-weight: 600;
}
.about-container .about-heading h6{
    font-size: 1.4rem;
    color: #8e8e8e;
    font-weight:500;
}
.about-container .inside-about img{
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.lol{
    padding: 10px;
}
.about-container .inside-about{
    display: flex;
    height: 100%;
    padding:50px;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details-card{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin: 10px;
    border-radius: 30px;
    background-color: #fff;
    flex: 1;
    max-width: 400px;
    height:100px;
    text-align: center;
    padding: 30px;
    position: relative;
}
.details-card h4{
    font-size: 1.5rem;
    font-weight: normal;
}
.para-heading {
    width: 100%;
    /* padding: 40px; */
}
.para-heading p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px
}
.download-cv{
    margin-top: 60px;
}
.download-cv a{
    background-color: #1E1E1E;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 15px;

}
.download-cv i{
    margin-left: 10px;
}
/*==About section ends==*/
/*==Skills section starts==*/
.skills-section h1{
    font-size: 3rem;
    color: #1E1E1E;
    font-weight: 600;
    text-align: center;
}

.skills-section h6{
    text-align: center;
    font-size: 1.4rem;
    color: #8e8e8e;
    font-weight:500;
}
.skills-container{
    margin-top: 40px;
    display: grid;
  grid-template-columns: repeat(2,350px);
  column-gap: 3rem;
  justify-content: center;
}
.skills-content{
    border-radius: 1.25rem;
    padding: 2rem 4rem;
    background-color: #ffffff ;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.skills-content h4{
    font-size: 1.5rem;
    font-weight: medium;
    text-align: center;
    /* margin-top: 1.5rem; */
}
.skills-box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem; 
    margin-top: 40px;
}
.skills-group{
    display:grid;
    align-items: center;
    row-gap: 1rem;
}
.skills-data{
    display: flex;
    column-gap: 0.5rem;
}
.skills-data .fa-solid{
    font-size: 1rem;
}
.skills-name{
    font-size: 1.2rem;
    line-height: 18px;
}
.skills-name h3{
    font-weight: 450;
}
.skills-name span{
    font-size: 1rem;
    color: #8e8e8e;
}
.services .services-heading h1{
    font-size: 3rem;
    color: #1E1E1E;
    font-weight: 600;
    text-align: center;
}
.services .services-heading h6{
    text-align: center;
    font-size: 1.4rem;
    color: #8e8e8e;
    font-weight:500;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,270px);
    justify-content: center;
    column-gap: 1.8rem;
    margin-top: 40px;
}
.inside-services{
    position: relative;
    padding: 7rem 6rem;
    margin: 10px;
    background-color: #ffffff ;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.inside-services .icons-services .fa-solid,.fa-brands{
    font-size: 3rem;
    display: block;
    margin-bottom: 2rem;
}

.inside-services .services-name h3{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 2rem;
}
.view-more button{
 background: none;
 outline: none;
 border: none;
 cursor: pointer;
 text-decoration: underline;
}
.services-modelpopup{
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0, 0.5);
    transition: all .3s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

}
.model-container{
    background-color: #fff;
    width: 560px;
    max-width: 90%;
    padding: 20px;
    position: relative;
    height: 380px;
    border-radius: 2.4rem;
}
.model-container h1{
    
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 2.3rem;
    font-weight: 400;
}
.model-container p{
    padding: 10px;
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.heading1{
    padding: 20px;
    line-height: 2;
    font-size: 1.4rem;
}
.heading1 i{
    margin-right: 10px;
}
.close{
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 10px;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
}
.close:hover{
    color: #282828;
}
.services-modelpopup.active{
    opacity: 1;
    pointer-events: all;
}
.classn{
    color: red;
    font-size: 3rem;
    opacity: 0;
}

/*==Skills section ends==*/
/*=====Responsive typography==*/
/*For large divces*/
@media screen and (max-width:992px) {
    html {
        font-size: 55%;
    }
    section{
        padding: 2rem 5%;
    }
    .skills-container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(2,270px);
        column-gap: 1rem;
    }
}

/*For medium divces*/
@media screen and (max-width:768px) {
    .header .fa-solid {
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        margin-bottom: 2px;
    }
    .home-container .inside-home {
        display: grid;
        align-items: center;
    }
    .header {
        bottom: 0;
        top: initial;
        height: 8vh;
        background-color: #ffffff;
        position: fixed;
        /* border-top: 1px solid black; */
    }
    .header .navbar {
        position: fixed;
        margin-left: 140px;
    }

    .header .navbar ul {
        display: flex;
        flex-direction: row;
    }
    .header .navbar ul li {
        text-align: center;
        margin-right: 37px;
    }
    .header .navbar ul li a {
        font-size: 1.5rem;
        color: #454545;
        transition: 0.4 ease;
    }
    .home-container .inside-home .hero-image img {
        height:600px;
        margin-top: 80px;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .sroll-down {
        margin-top: 740px;
    }
    .about-container{
        margin-top: 100px;
    }
    .about-container .inside-about img{
        height: 600px;
        margin-left: 20px;
    }
    .about-container .inside-about{
        margin: 0px;
        padding: 10px;
    }
    .about-details{
        width: 107%;
        margin-left: -20px;
    }
    .lol{
    padding: 40px;
    }
    .details-card{
        border-radius: 10px;
        padding: 40px;
        height: 130px;
        text-align: center;
        margin: 5px;
    }
    .para-heading p{
        text-align: justify;
        font-size: 2rem;
        margin-top: 10px
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(2,230px);
        column-gap: 1rem;
    }

}

@media screen and (max-width:576px) {
    .header .navbar {
        position: fixed;
        margin-left: 100px;
    }

    .header .navbar ul li {
        margin-right: 20px;
    }

    .header .navbar ul li a {
        font-size: 1.3rem;
    }
    .about-container .inside-about{
        margin-top: 30px;
        padding: 0;
    }
    .about-container .inside-about img{
        height: 480px;
        margin-left: 20px;
    }
    .home-container .inside-home .hero-image img {
        height:480px;
    }
    .sroll-down {
        margin-top: 590px;
    }
    .para-heading p{
        text-align: justify;
        font-size: 2rem;
        margin-top: 10px
    }
    .skills-container{
        grid-template-columns:1fr;
    }
    .skills-content{
        padding: 1.5rem;
    }
    
}
@media screen and (max-width:420px) {
    .classn{
        color: red;
        font-size: 3rem;
        opacity: 1;
    }
    .skills-box{
        column-gap: 1.25rem;
    }
    .header .navbar {
        margin-left: 0px;
    }
    .about-container .inside-about img{
        height: 380px;
        margin-left: 0px;
    }
    .home-container .inside-home .hero-image img {
        height:380px;
    }
    .header .navbar ul li {
        margin-right: 10px;
        margin-bottom: 10px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.7rem;
    }

    .header .fa-solid {
        font-size: 2rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
    .para-heading p{
        text-align: center;
        font-size: 1.7rem;
        margin-top: 10px
    }
    .sroll-down {
        margin-top: 490px;
    }
    .download-cv{
        text-align: center;
    }
    .about-details{
        width: 120%;
        margin-left: -30px;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(1,390px);
        column-gap: 1.5rem;
    }
}
@media screen and (max-width:399px) {
    .header .navbar {
        margin-left:0px;
    }

    .header .navbar ul li {
        margin-right: 7px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.4rem;
    }

    .header .fa-solid {
        font-size: 1.8rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
    .home-container .inside-home .hero-image img {
        height: 320px;
    }
    .sroll-down {
    
        margin-top: 420px;
        
    }
    .skills-box{
        column-gap: 1.45rem;
    }
}

/*==For small devices==*/
@media screen and (max-width:350px) {
    .header .navbar {
        margin-left:-10px;
    }

    .header .navbar ul li {
        margin-right: 0px;
        /* justify-content: center; */
    }

    .header .navbar ul li a {
        font-size: 1.4rem;
    }

    .header .fa-solid {
        font-size: 1.8rem;
    }
    .header  .logo a{
        font-size: 1.5rem;
        display: none;
    }
    .home-container .inside-home .hero-image img {
        height: 310px;
    }
    .sroll-down {
        margin-top: 400px;
    }
    .skills-box{
        column-gap: 1.25rem;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(1,390px);
        column-gap: 1.5rem;
    }
    .inside-services{
    position: relative;
    }
    .about-container .inside-about img{
        height: 310px;
        
    }
    .download-cv{
        text-align: center;
    }
}
